@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Agbalumo', serif;
    overflow:visible;
}


html ::-webkit-scrollbar-track {
    background: transparent;
}

html ::-webkit-scrollbar-thumb {

    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
}

#navbar {
    background-color: #110701;
    font-size: 23px;
}

#logo img {
    border-radius: 10px;
    width: 160px;
    height: 65px;
    margin-left: 10px;
}

.navbar-nav {
    margin-left: 50px;
}

.nav-item .nav-link {
    color: white;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}

.nav-item .nav-link:hover {
    background-color: #f7f5f2;
    transition: 0.2s;
    border-radius: 5px;
    color: black;
}

#navbar form button {
    background: black;
    color: white;
    border: 1px solid white;
}

#home {
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/Espresso-machine-working-with-bar-interior-background.jpeg);
    background-size: cover;
    background-position: 60%;
}

#home .content {
    padding-top: 210px;
    margin-left: 56px;
}

#home .content h3 {
    font-size: 50px;
    color: white;
}

#home .content p {
    margin-top: 10px;
    color: white;
}

#btn {
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}

#btn:hover {
    background: #110701;
    color: white;
    transition: 0.2s;
}

#about {
    width: 100%;
    height: 70vh;
    align-items: center;
}

#about .container {
    padding-top: 70px;
}

.heading {
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.heading span {
    color: #b2744c;
}

#about .card img {
    border-radius: 10px;
    width: 100%;
    height: 300px;
}

#about .card {
    border-radius: 10px;
    color: white;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#brand {
    height: 90vh;
}

#brand h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    color: #110701;
}

#brand h2 span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    color: #b2744c;
}

#menu h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    color: #110701;
}

#menu h2 span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    color: #b2744c;
}

#menu {
    height: 140vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.row img {
    width: 300px;
    height: 250px;
}



#product h2 {
    text-align: center;
    font-size: 30px;
}

#product span {
    color: #b2744c;
}

.products {
    display: grid;
    grid-template-columns:auto auto auto auto;
    margin: 50px auto;
    width: 100%;
    grid-gap: 50px;
    padding: 20px;
}
.menu img {
    max-width: 100%;
    height: auto;
    align-items: center;
    padding: 4px;
    }

.product {

    padding: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 100%;
    display: block;

}

.product .title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.product .description {
    padding: 0 20px 20px 20px;
    line-height: 22px;
}

.product .price {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #9b0b03;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.product .cart {
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
    background-color: #3e628f;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.product .cart i {
    padding-left: 10px;
}
form{
    background-color: #b2744c;
    border-radius: 10px;
}
#contact{
    display: flex;
    width: 100%;
    align-items: center;
}

@media screen and (max-width:982px) {
   
    #about p {
        font-size: 8px;
    }

    #about {
        height: 100vh;
    }
    
    .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #brand {
        height: 180vh;

    }

    .col-md-6 .card img {
        border-radius: 10px;
        width: 100%;
        height: 300px;
    }

    #brand h2 {
        align-items: center;
        display: flex;
        justify-content: center;
        color: #b2744c;
    }
    .products {
        display: grid;
        grid-template-columns:auto auto;
        margin: 50px auto;
        grid-gap: 50px;
        padding: 20px;
    }

}

@media screen and (max-width:750px) {
    #about p {
        font-size: 15px;
    }
    #menu{
        height: 115vh;
    }
    #home {
        width: 100%;
        height: 120vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/Espresso-machine-working-with-bar-interior-background.jpeg);
        background-size: cover;
        background-position: 60%;
    }
    .products {
        display: grid;
        grid-template-columns:auto;
        width: 100%;
    }
    
    .row {
        display: flex;
        flex-direction: column;
    }

    #about {
        height: 130vh;
    }

    #brand {
        height: 200vh;
    }    
}
@media screen and (max-width:400px) {
    #menu{
        height: 85vh;
    }
}
